html, body {
  background-color: #f0eee1;
}

.undernav {
  margin-top: 30px;
  padding-top: 30px;
}

@media (max-width: 768px) {
  .undernav {
    padding-top: 220px;
    margin-top: 220px;
  }
  #columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

.navbar-right{
  margin: 0;

}

.search-select {
  text-align: center;
}

.jumbotron{
  background-color: #e8e6d9;
}

.bookwormlogo{
  color: #f0eee1;
  font-size: xx-large;
}

.bookwormlogo:hover{
  color: #fff;
  text-decoration: none;
}

/*#columns:hover .book:not(:hover){*/
  /*opacity: 0.4;*/
/*}*/



.btn-remove-book{
  color: darkred;
  background-color: #f0eee1;
  width: 100%;
}

.btn-remove-book:hover{
  color: darkred;
  background-color: #f0eee1;
}

.book:hover > .remove-overflow{
  opacity: 0.8;
}

.remove-overflow{
  /*position: absolute;*/
  /*background: darkred;*/
  text-align: right;
  /*width: 10%;*/
  opacity: 0.3;

  /*width: 100%;*/
  /*width: 100%;*/
  /*text-align: end;*/
  /*padding-right: 19%;*/

}

.book-data{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.book {
  background: #e8e6d9;
  display: inline-block;
  /*background: #FEFEFE;*/
  border: 0 solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  /*padding: 15px 15px 5px;*/
  padding: 10px;
  /*background: -webkit-linear-gradient(45deg, #fffdf0, #e8e6d9);*/
  /*background: #e8e6d9;*/
  opacity: 1;
  /*min-width: 180px;*/
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

#bookscontainer {
  width: 90%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
}
#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  /*-moz-column-fill: auto;*/
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}


/*.book:hover {*/
/*background-color: #fff;*/
/*}*/

.search {
  width: 75%;
  margin: auto;
}

.coverSize {
  width: 20%;
}

.branding-background-color{
  color: #f0eee1;
}

.navbar-default{
  background-color: #7f6257;
}

.navbar-default .navbar-nav > li {
  cursor: pointer;
  background-color: #824d3d;
  padding: 15px 15px;
  margin-top: -1px;
  color: #f0eee1;
  font-weight: bold;
}
.navbar-default .navbar-nav > li:hover {
  background-color: #e87714;
}
.navbar-default .navbar-nav > li.active {
  color: #fff;
  background-color: #b65a31;
}

.bar{
  height: 18px;
  background: #b65a31;
}

.full-size{
  width: 98%;
}


.hint-text-color{
  color: #ccc;
}

.panel-heading{
  background-color: #7f6257 !important;
}

#submitbutton{
  background-color: #824d3d;
  color: #f0eee1;
  border-top-color: #d0cebf;
  border-left-color: #d0cebf;
  border-bottom-color: #ac8c7e;
  border-right-color: #ac8c7e;
  width: 100%;
  position: relative;
}

.new-book{
  margin-right: 20%;
  margin-left: 20%;
  background-color: #e8e6d9;
}



.inline{
  display: inline;
}

.cover{
  width: 99%;
}


.book-text{
  margin-top: 2%;
}

.cover-image{
  width: 100%;
  height: auto;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
}


.cover-upload{
  padding-top: 14%;
}

.cover-upload-body{
  height: auto;
  background-color: #f0eee1;
}

.dropzone-border{
  border: dashed #7a7a7a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0.7;
}

.dropzone-border:hover{
  opacity: 1;
}


#dropzone {
  line-height: 167px;
  border: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: #f0eee1;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}
#dropzone.in {
  line-height: 167px;
  font-size: larger;
  background-color: #E3B450;
}

#dropzone.hover {
  background-color: #e87714;
}
#dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}

.loading-spin{
  -webkit-animation: spin1 2s infinite linear;
  -moz-animation: spin1 2s infinite linear;
  -o-animation: spin1 2s infinite linear;
  -ms-animation: spin1 2s infinite linear;
  animation: spin1 2s infinite linear;
  margin-top: auto;
}

.loading-box{
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
}
@-webkit-keyframes spin1 {
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
  0% { -moz-transform: rotate(0deg);}
  100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
  0% { -o-transform: rotate(0deg);}
  100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
  0% { -ms-transform: rotate(0deg);}
  100% { -ms-transform: rotate(360deg);}
}

.overlay{
  text-align: center;
  position: absolute;
  width: 200px;
  transition: all .5s;
  background: rgba(255,0,0,0); /* Only make the background opaque and not the text */
  /*top: 10px; *//*padding size*/
  /*left: 10px; *//*padding size*/
  overflow: hidden;
  height: 0; /* height 0 will give a rolling transition to 100% on hover */
}

.btn-remove{
  color: darkred;
  background-color: #f0eee1;
  display: inline;
  margin-left: 80px;
}


