html, body {
  background-color: #f0eee1;
}

.undernav {
  margin-top: 30px;
  padding-top: 30px;
}

@media (max-width: 768px) {
  .undernav {
    padding-top: 220px;
    margin-top: 220px;
  }
}

.navbar-right{
  margin: 0;

}

.search-select {
  text-align: center;
}

.jumbotron{
  background-color: #e8e6d9;
}

.bookwormlogo{
  color: #f0eee1;
  font-size: xx-large;
}

.bookwormlogo:hover{
  color: #fff;
  text-decoration: none;
}

.bookcontainer:hover .book:not(:hover){
  opacity: 0.4;
}

/*.book:hover {*/
/*background-color: #fff;*/
/*}*/

.search {
  width: 75%;
  margin: auto;
}

.coverSize {
  width: 20%;
}

.branding-background-color{
  color: #f0eee1;
}

.navbar-default{
  background-color: #7f6257;
}

.navbar-default .navbar-nav > li {
  cursor: pointer;
  background-color: #824d3d;
  padding: 15px 15px;
  margin-top: -1px;
  color: #f0eee1;
  font-weight: bold;
}
.navbar-default .navbar-nav > li:hover {
  background-color: #e87714;
}
.navbar-default .navbar-nav > li.active {
  color: #fff;
  background-color: #b65a31;
}

.bar{
  height: 18px;
  background: #b65a31;
}

.full-size{
  width: 98%;
}


.hint-text-color{
  color: #ccc;
}

.panel-heading{
  background-color: #7f6257 !important;
}

.button-coloring{
  background-color: #824d3d;
  color: #f0eee1;
  border-top-color: #d0cebf;
  border-left-color: #d0cebf;
  border-bottom-color: #ac8c7e;
  border-right-color: #ac8c7e;
}

.new-book{
  margin-right: 20%;
  margin-left: 20%;
  background-color: #e8e6d9;
}

.btn-remove{
  color: darkred;
  background-color: #f0eee1;
  display: inline;
  margin-left: 80px;
}

.inline{
  display: inline;
}
.btn-lg{
  width: 100%;
}

.cover{
  width: 99%;
}


.book-text{
  margin-top: 2%;
}

.cover-image{
  width: 100%;
  height: auto;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
}

.book {
  background-color: #e8e6d9;
}


.cover-upload{
  padding-top: 14%;
}

.cover-upload-body{
  height: 250px;
  background-color: #f0eee1;
}

.dropzone-border{
  border: dashed #7a7a7a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0.7;
}

.dropzone-border:hover{
  opacity: 1;
}


#dropzone {
  line-height: 167px;
  border: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: #f0eee1;
  text-align: center;
  font-weight: bold;
}
#dropzone.in {
  line-height: 167px;
  font-size: larger;
  background-color: #E3B450;
}

#dropzone.hover {
  background-color: #e87714;
}
#dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}

.loading-spin{
  -webkit-animation: spin1 2s infinite linear;
  -moz-animation: spin1 2s infinite linear;
  -o-animation: spin1 2s infinite linear;
  -ms-animation: spin1 2s infinite linear;
  animation: spin1 2s infinite linear;
  margin-top: auto;
}

.loading-box{
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
}
@-webkit-keyframes spin1 {
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
  0% { -moz-transform: rotate(0deg);}
  100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
  0% { -o-transform: rotate(0deg);}
  100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
  0% { -ms-transform: rotate(0deg);}
  100% { -ms-transform: rotate(360deg);}
}

.overlay{
  text-align: center;
  position: absolute;
  width: 200px;
  transition: all .5s;
  background: rgba(255,0,0,0); /* Only make the background opaque and not the text */
  /*top: 10px; *//*padding size*/
  /*left: 10px; *//*padding size*/
  overflow: hidden;
  height: 0; /* height 0 will give a rolling transition to 100% on hover */
}

.btn-remove-book{
  color: darkred;
  background-color: #f0eee1;
  margin-top: 2%;
  opacity: 0.4;
}

.btn-remove-book:hover{
  color: darkred;
  background-color: #f0eee1;
  margin-top: 2%;
  opacity: 0.9;
}


.remove-overflow{
  position: absolute;
  width: 100%;
  text-align: end;
  padding-right: 19%;

}
