html, body {
  background-color: #f0eee1;
}

.undernav {
  margin-top: 30px;
  padding-top: 30px;
}

@media (max-width: 768px) {
  .undernav {
    padding-top: 220px;
    margin-top: 220px;
  }
}

.navbar-right{
  margin: 0;

}

.search-select {
  text-align: center;
}

.jumbotron{
  background-color: #e8e6d9;
}

.bookwormlogo{
  color: #f0eee1;
  font-size: xx-large;
}

.bookwormlogo:hover{
  color: #fff;
  text-decoration: none;
}

.bookcontainer:hover .book:not(:hover){
  opacity: 0.4;
}

/*.book:hover {*/
/*background-color: #fff;*/
/*}*/

.search {
  width: 75%;
  margin: auto;
}

.coverSize {
  width: 20%;
}

.branding-background-color{
  color: #f0eee1;
}

.navbar-default{
  background-color: #7f6257;
}

.navbar-default .navbar-nav > li {
  cursor: pointer;
  background-color: #824d3d;
  padding: 15px 15px;
  margin-top: -1px;
  color: #f0eee1;
  font-weight: bold;
}
.navbar-default .navbar-nav > li:hover {
  background-color: #e87714;
}
.navbar-default .navbar-nav > li.active {
  color: #fff;
  background-color: #b65a31;
}

.bar{
  height: 18px;
  background: #b65a31;
}

.full-size{
  width: 98%;
}

.cover-upload{
  padding-top: 14%;
}

.cover-upload-body{
  height: 294px;
  background-color: #f0eee1;
}

.hint-text-color{
  color: #ccc;
}

.panel-heading{
  background-color: #7f6257 !important;
}

.button-coloring{
  background-color: #824d3d;
  color: #f0eee1;
  border-top-color: #d0cebf;
  border-left-color: #d0cebf;
  border-bottom-color: #ac8c7e;
  border-right-color: #ac8c7e;
}

.new-book{
  margin-right: 20%;
  margin-left: 20%;
  background-color: #e8e6d9;
}

.btn-lg{
  width: 98%;
}

.cover{
  width: 99%;
}

.book-text{
  margin-top: 3%;
}

.book {
  background-color: #e8e6d9;
}
