{{#if model}}
<div id="bookscontainer" class="bookcontainer">
    <div id="columns">
      {{#each}}
        {{one-book book=this}}
      {{/each}}
    </div>
</div>
{{else}}
<div class='jumbotron'>
    <h1>No books added</h1>

  {{#link-to "new_book"}} <p>Click here to add a book.</p> {{/link-to}}
</div>
{{/if}}
